/* Dark Mode Only */
.dark-mode {
    --bg-color: #1a1a1a;
    --text-color: #ffffff;
    --header-bg-color: #333333;
    --link-color: #dddddd;
    --link-hover-color: #bbbbbb;
}
body {
    margin: 0;
    font-family: 'Cabin Sketch', cursive;
    background-color: var(--bg-color, #ffffff); /* Default to white if not in dark mode */
    color: var(--text-color, #000000);          /* Default to black if not in dark mode */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */  
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--header-bg-color, #05624f); /* Default to green if not in dark mode */
    color: white;
    padding: 10px 0;
    text-align: center;
    transition: background-color 0.3s;
}
nav a {
    color: var(--link-color, #ffffff); /* Default to white if not in dark mode */
    margin: 0 15px;
    text-decoration: none;
    transition: color 0.3s;
}
nav a:hover {
    color: var(--link-hover-color, #e0e0e0); /* Default hover color if not in dark mode */
    text-decoration: underline;
}
.hamburger {
    display: none;   /* Hides the hamburger menu */
    cursor: pointer;
    font-size: 24px;    /* Sets a larger font size */
}
@media (max-width: 600px) {     /* Media query for small screen */
    nav a {
        display: none;    /* Hides navigation links */
        margin: 10px 0;   /* Adjusts margin for the vertical lis */
    }
    nav.active a {
        display: block;  /* Shows the navigation links as a vertical list */
    }
    .hamburger {
        display: block;  /* Displays the hamburger menu icon on small screens */
    }
}
button#theme-toggle {
    background: none;  /* No background */
    border: none;      /* No border */
    font-size: 24px;   /* Large font for icon */
    cursor: pointer;
    color: var(--link-color, #ffffff); /* Default to white color */
    transition: color 0.3s;            /* Smooth color transition */
    margin-left: 15px; /* Space to the left of the button */
}
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.footer-social {
    display: flex;
    justify-content: center; /* Centers the icons horizontally */
    gap: 20px; /* Adds space between icons */
}

.footer-social a {
    color: #e63737;
    font-size: 24px; /* Adjust icon size */
    transition: color 0.3s;
    text-decoration: none;
}

.footer-social a:hover {
    color: #ffdd57; /* Highlight color on hover */
}
